In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Tasiilaq,GL,2021-11-20 17:55:57,65.6145,-37.6368,25.32,95,100,16.02
1,1,Christchurch,NZ,2021-11-20 17:55:58,-43.5333,172.6333,55.33,73,76,4.61
2,2,Cidreira,BR,2021-11-20 17:55:58,-30.1811,-50.2056,70.59,56,0,11.63
3,3,Rikitea,PF,2021-11-20 17:54:15,-23.1203,-134.9692,73.02,65,100,8.37
4,4,Barrow,US,2021-11-20 17:55:59,71.2906,-156.7887,1.42,85,20,8.05

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [14]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
6,6,Atuona,PF,2021-11-20 17:55:59,-9.8000,-139.0333,79.47,68,3,13.42
10,10,Lompoc,US,2021-11-20 17:54:23,34.6391,-120.4579,76.14,84,20,0.00
13,13,Souillac,MU,2021-11-20 17:56:02,-20.5167,57.5167,77.36,73,40,9.22
14,14,Comodoro Rivadavia,AR,2021-11-20 17:56:02,-45.8667,-67.5000,80.46,24,40,24.16
21,21,Alyangula,AU,2021-11-20 17:56:04,-13.8483,136.4192,75.07,94,32,1.14
23,23,Sabla,NG,2021-11-20 17:56:06,12.7525,4.7077,86.94,12,7,8.43
26,26,Feijo,BR,2021-11-20 17:56:07,-8.1642,-70.3536,78.24,90,100,2.77
29,29,Andros Town,BS,2021-11-20 17:56:08,24.7000,-77.7667,82.36,73,91,8.61
30,30,San Miguel,SV,2021-11-20 17:56:08,13.4833,-88.1833,86.22,52,93,3.06
31,31,Saint-Philippe,RE,2021-11-20 17:56:09,-21.3585,55.7679,76.59,80,46,8.95

In [15]:
preferred_cities_df.count()

City_ID       184
City          184
Country       183
Date          184
Lat           184
Lng           184
Max Temp      184
Humidity      184
Cloudiness    184
Wind Speed    184
dtype: int64

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                  City Country  Max Temp      Lat       Lng Hotel Name
6               Atuona      PF     79.47  -9.8000 -139.0333
10              Lompoc      US     76.14  34.6391 -120.4579
13            Souillac      MU     77.36 -20.5167   57.5167
14  Comodoro Rivadavia      AR     80.46 -45.8667  -67.5000
21           Alyangula      AU     75.07 -13.8483  136.4192
23               Sabla      NG     86.94  12.7525    4.7077
26               Feijo      BR     78.24  -8.1642  -70.3536
29         Andros Town      BS     82.36  24.7000  -77.7667
30          San Miguel      SV     86.22  13.4833  -88.1833
31      Saint-Philippe      RE     76.59 -21.3585   55.7679

In [19]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [21]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
6,Atuona,PF,79.47,-9.8000,-139.0333,Villa Enata
10,Lompoc,US,76.14,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
13,Souillac,MU,77.36,-20.5167,57.5167,Shanti Maurice Resort & Spa
14,Comodoro Rivadavia,AR,80.46,-45.8667,-67.5000,Austral Hotel
21,Alyangula,AU,75.07,-13.8483,136.4192,Groote Eylandt Lodge
23,Sabla,NG,86.94,12.7525,4.7077,
26,Feijo,BR,78.24,-8.1642,-70.3536,Hotel e Restaurante Aҫai
29,Andros Town,BS,82.36,24.7000,-77.7667,Hanks place
30,San Miguel,SV,86.22,13.4833,-88.1833,Hotel Tropico Inn San Miguel
31,Saint-Philippe,RE,76.59,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""

In [23]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [25]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))